<div class="container">
  <div class="row header-row">
    <div class="col-md-4">
      <div class="header">
        <h1 class="title">
          {{#if isHomepage}}
            <span {{action 'reloadHomepage'}}>
              {{#link-to 'timeline.home' (query-params offset=0)}}freefeed{{/link-to}}
            </span>
          {{else}}
            {{#link-to 'timeline.home' (query-params offset=0)}}freefeed{{/link-to}}
          {{/if}}
          <small class="mutted">0.2.0</small>
        </h1>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 search-field">
          <div class="form-inline">
            <!-- input class="form-control input-sm search-input p-search-input" / -->
            <!-- button class="btn btn-default btn-sm p-search-action">Search</button -->
          </div>
        </div>

        <div class="col-md-6">
          {{#unless controller.session.signedIn}}
              <div class="signin-toolbar">
                {{#link-to 'session.new'}}Sign In{{/link-to}}
              </div>
          {{/unless}}
        </div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="content">
        <div class="box">
          <div class="box-header-timeline">
            {{controller.title}}
          </div>
          <div class="box-body">
            {{yield}}
          </div>
          <div class="box-footer">

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 sidebar">
      {{#if controller.session.signedIn}}
        <div class="logged">
          <div class="logged-avatar">
            {{#link-to 'timeline.index' controller.session.currentUser.username (query-params offset=0)}}<img class="media-object" src="{{ controller.session.currentUser.profilePictureMedium }}">{{/link-to}}
          </div>

          <div class="logged-user">
            <div class="author">
              {{#link-to 'timeline.index' controller.session.currentUser.username (query-params offset=0)}}{{controller.session.currentUser.screenName}}{{/link-to}}
            </div>
            <div>
              {{#link-to 'settings.index'}}settings{{/link-to}}
              -
              {{#link-to 'session.destroy'}}sign out{{/link-to}}
            </div>
          </div>
        </div>
      {{/if}}

      <div class="box">
        <div class="box-header-friends">
          Friends
        </div>
        <div class="box-body">
          <ul>
            <li class="p-home">{{#link-to 'timeline.home' (query-params offset=0)}}Home{{/link-to}}</li>
            <li class="p-direct-messages">{{#link-to 'timeline.directs'}}Direct messages{{/link-to}}</li>
            <li class="p-my-discussions">{{#link-to 'timeline.discussions' (query-params offset=0)}}My discussions{{/link-to}}</li>
          </ul>
        </div>
        <div class="box-footer">
          {{#link-to 'timeline.subscriptions' controller.session.currentUser.username}}Browse/edit friends{{/link-to}}
        </div>
      </div>

      <div class="box">
        <div class="box-header-groups">
          Groups
        </div>
        <div class="box-body">
          {{view 'my-groups'}}
        </div>
        <div class="box-footer">
          {{#link-to 'groups.home'}}Browse/edit groups{{/link-to}}
        </div>
      </div>

      <div class="box">
        <div class="box-header-groups">
          Ministry of Truth
        </div>
        <div class="box-body">
          <ul>
            <li><a href="http://about.freefeed.net" target="_blank">About</a></li>
            <li><a href="http://news.freefeed.net" target="_blank">News</a></li>
            <li><a href="https://twitter.com/freefeednet" target="_blank">Twitter</a></li>
          </ul>
        </div>
        <div class="box-footer">

        </div>
      </div>

      <div class="box">
        <div class="box-header-groups">
          Ministry of Love
        </div>
        <div class="box-body">
          <ul>
            <li><a href="https://docs.google.com/forms/d/1N6zo9BGu8Hv6aORTfbdjWoFt6xyikTfv-CJA4JoTzmo/viewform?usp=send_form" target="_blank">Ask a question</a></li>
            <li><a href="https://freefeed.net/bugreport">Report an issue</a></li>
            <li><a href="https://freefeed.net/support">Get updates</a></li>
            <li><a href="http://freefeed.reformal.ru/">Suggest a feature</a></li>
          </ul>
        </div>
        <div class="box-footer">

        </div>
      </div>

      <div class="box">
        <div class="box-header-groups">
          Ministry of Plenty
        </div>
        <div class="box-body">
        </div>
        <div class="box-footer">
          <p style="margin-bottom: 10px">Subscribe to Freefeed today! Arrangement is plain and simple — you wire funds to Freefeed, it gets better every week.</p><span style="display: block; margin-left: auto; margin-right: auto">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="DRR5XU73QLD7Y">
          <table>
          <tbody><tr><td style="padding-bottom: 5px;"><input type="hidden" name="on0" value="Pick monthly donation amount" style="padding:5px 0;">Choose your option:</td></tr><tr><td><select name="os0">
            <option value="Basic">€5.00 EUR / month</option>
            <option value="Advanced" selected="selected">€10.00 EUR / month</option>
            <option value="Sizable">€15.00 EUR / month</option>
            <option value="Luxurious">€20.00 EUR / month</option>
            <option value="King size">€30.00 EUR / month</option>
            <option value="Master of the Universe">€50.00 EUR / month</option>
            <option value="Chuck Norris">€75.00 EUR / month</option>
            <option value="Duke Nukem">€100.00 EUR / month</option>
          </select> </td></tr>
          </tbody></table>
          <input type="hidden" name="currency_code" value="EUR">
          <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="margin:5px;">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" style="display: none !important;">
          </form>
          </span>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="singlePayPalPayment">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="HMVYD6GEWNWH8">
          <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" width="0" height="0" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" style="display: none !important;">
          </form>
          <p style="margin-bottom: 10px">Or <a href="#" onclick="document.forms['singlePayPalPayment'].submit(); return false;" style="text-decoration:underline;">send a one-time payment first&nbsp;→</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      {{view 'footer'}}
    </div>
  </div>
</div>
