<div class="container">
  <div class="row header-row">
    <div class="col-md-4">
        <div class="header">
      <h1 class="title">
       {{#link-to 'timeline.home' (query-params offset=0)}}Freefeed{{/link-to}} <small class="mutted">0.1.0</small>
      </h1>
        </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 search-field">
          <div class="form-inline">
            <!-- input class="form-control input-sm search-input p-search-input" / -->
            <!-- button class="btn btn-default btn-sm p-search-action">Search</button -->
          </div>
        </div>

        <div class="col-md-6">
          {{#unless controller.session.signedIn}}
              <div class="signin-toolbar">
                {{#link-to 'session.new'}}Sign In{{/link-to}}
              </div>
          {{/unless}}
        </div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="content">
        <div class="box">
          <div class="box-header-timeline">
            Home
          </div>
          <div class="box-body">
            {{yield}}
          </div>
          <div class="box-footer">

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 sidebar">
      {{#if controller.session.signedIn}}
        <div class="logged">
          <div class="logged-avatar">
            {{#link-to 'timeline.index' controller.session.currentUser.username (query-params offset=0)}}<img class="media-object" src="{{ controller.session.currentUser.profilePictureMedium }}">{{/link-to}}
          </div>

          <div class="logged-user">
            <div class="author">
              {{#link-to 'timeline.index' controller.session.currentUser.username (query-params offset=0)}}{{controller.session.currentUser.screenName}}{{/link-to}}
            </div>
            <div>
              {{#link-to 'settings.index'}}settings{{/link-to}}
              -
              {{#link-to 'session.destroy'}}sign out{{/link-to}}
            </div>
          </div>
        </div>
      {{/if}}

      <div class="box">
        <div class="box-header-friends">
          Friends
        </div>
        <div class="box-body">
          <ul>
            <li class="p-home">{{#link-to 'timeline.home'}}Home{{/link-to}}</li>
            <!-- li class="p-direct-messages"><a href="#">Direct messages</a></li -->
            <li class="p-my-discussions">{{#link-to 'timeline.discussions'}}My discussions{{/link-to}}</li>
          </ul>
        </div>
        <div class="box-footer">
          {{#link-to 'timeline.subscriptions' controller.session.currentUser.username}}Browse/edit friends{{/link-to}}
        </div>
      </div>

      <div class="box">
        <div class="box-header-groups">
          Groups
        </div>
        <div class="box-body">
          {{view 'my-groups'}}
        </div>
        <div class="box-footer">
          {{#link-to 'groups.home'}}Browse/edit groups{{/link-to}}
        </div>
      </div>

      <div class="box">
        <div class="box-header-groups">
          Обратная связь
        </div>
        <div class="box-body">
          <ul>
            <li><a href="http://about.freefeed.net" target="_blank">О проекте</a></li>
            <li><a href="https://docs.google.com/forms/d/1N6zo9BGu8Hv6aORTfbdjWoFt6xyikTfv-CJA4JoTzmo/viewform?usp=send_form" target="_blank">Задать вопрос</a></li>
          </ul>
        </div>
        <div class="box-footer">

        </div>
      </div>


    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      {{view 'footer'}}
    </div>
  </div>
</div>
