<div class="comment">
  <a class="date" {{bind-attr title="createdAgo"}}></a>

  <div class="body">
  {{#unless view.isEditFormVisible}}
    <span class="comment-text">
      {{prettifyText body}}
	</span>
      -
      <span class="author">
        {{#link-to 'user' createdBy.username}}
          {{#if view.commentOwner}}
            {{t label.you}}
          {{else}}
            {{createdBy.info.screenName}}
          {{/if}}
        {{/link-to}}
      </span>

      {{#if view.commentOwner}}
        <span class="controls">
          (<a {{action editFormVisibility target="view"}}>{{t label.edit}}</a>
          |
          <a {{action kill}}>{{t label.delete}}</a>)
        </span>
      {{/if}}
  {{else}}
    {{#view App.EditCommentForm}}
      <div class="edit">
          <div>
            {{view App.EditCommentField action="update" target="controller"
                  class="editarea"}}
          </div>
          <div>
            {{view App.SubmitCommentButton action="submit" target="controller"
                  class="btn btn-default btn-xs"}}
            <a {{action editFormVisibility target="view"}}>{{t label.cancel}}</a>
          </div>
      </div>
    {{/view}}
  {{/unless}}
  </div>
</div>
