<div class="timeline-post-container">

  <div class="avatar">
    <img src="/img/48x48.png">
  </div>

  <div class="post-body">
    <div class="title">
      {{#link-to 'user' createdBy.username}}{{createdBy.info.screenName}}{{/link-to}}{{#unless
        view.myFeedOnly}}{{#if
        view.toOrColon}}:{{else}}{{#if
        view.colonOrBlank}} to {{/if}}{{/if}}
      {{/unless}}

      {{#each group in view.firstTwoGroups}}
        {{#link-to 'user' group.username}}
          {{formatGroupName
          group.username
          postBinding="controller.content"}}{{/link-to}}{{maybeSep
          group listBinding="view.firstTwoGroups" sep=","}}
      {{/each}}
    </div>

    {{#if view.isEditFormVisible}}
      {{#view App.EditPostForm}}
        <div class="edit-post">
          <div>
            {{view App.EditPostField action="update" target="controller"
                  class="editarea"}}
          </div>
          <div>
            {{view App.SubmitPostButton action="update" target="controller"
                  class="btn btn-default btn-xs"}}
            <a {{action toggleVisibility target="view"}}>{{t label.cancel}}</a>
          </div>
        </div>
      {{/view}}
    {{else}}
      <div class="body">
        <div class="text">
          {{prettifyText body}}
        </div>
        {{view App.YoutubeEmbeddedView textBinding="body" }}

        {{#each attachment in attachments}}
          {{#if attachment.isAttachmentImage}}
            <div class="image"><a target="_blank" {{bind-attr href="attachment.path"}}><img {{bind-attr alt="attachment.filename"}} {{bind-attr title="attachment.filename"}} {{bind-attr src="attachment.thumbnail.path"}} class="img-polaroid" /></a></div>
          {{/if}}
          {{#if attachment.isAttachmentAudio}}
            <div class="audio-wrapper">
              <div class="inner">
                <audio {{bind-attr id="attachment.id"}} {{bind-attr src="attachment.path"}}></audio>
                {{view App.AudioPlayerView playerIdBinding="attachment.id"}}
              </div>
              <div class="attachment-wrapper">
                <i class="icon-music"></i><a target="_blank" {{bind-attr href="attachment.path"}}>{{attachment.filename}}</a>&nbsp;
                <span class="padding-left-small text-small muted">{{attachment.size}}</span>
              </div>
            </div>
          {{/if}}
          {{#if attachment.isAttachmentGeneral}}
            <div class="attachment-wrapper">
              <i class="icon-file"></i><a target="_blank" {{bind-attr href="attachment.path"}}>{{attachment.filename}}</a>&nbsp;
              <span class="padding-left-small text-small muted">{{attachment.size}}</span>
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}

    <div class="info">
      {{#link-to 'post' this class="datetime"}}<time {{bind-attr datetime="createdAt"}}>{{createdAgo}}</time>{{/link-to}}

      {{#if App.properties.userId}}
        -
        <a {{action toggleVisibility target="view"}}>{{t label.comment}}</a>

        {{#unless currentUserLiked}}
          -
          <a {{action like id target="controller"}}>{{t label.like}}</a>
        {{/unless}}

        {{#if postOwner}}
          (<a {{action editFormVisibility target="view"}}>{{t label.edit}}</a>
          |
          <a {{action kill id target="controller"}}>{{t label.delete}}</a>)
        {{/if}}
      {{/if}}
    </div>

    {{#if anyLikes}}
      <div class="likes">

          <ul>
            {{view Ember.CollectionView contentBinding="likes"
                   itemViewClass="App.PartialLike"}}
          </ul>
          <span class="liked">{{t label.liked}}</span>
          {{#if currentUserLiked}}
            <span>(<a {{action unlike id target="controller"}}>{{t label.unlike}}</a>)</span>
          {{/if}}

      </div>
    {{/if}}

    <div class="comments">
      {{#if partial}}
        {{view App.PartialCommentView contextBinding="firstComment" itemController="comment"}}
        <div class="more-comments">
          <a {{action showAllComments target="view"}}>{{skippedCommentsLength}} {{t label.moreComments}}</a>
        </div>
        {{view App.PartialCommentView contextBinding="lastComment" itemController="comment"}}
      {{else}}
        {{each controller.comments itemViewClass="App.PartialCommentView" itemController="comment"}}

        {{#view App.CommentPostViewSubst}}
          <div class="comment">
			<a class="date"></a>
            <div class="body">
                <a {{action toggleVisibility target="view"}}>{{t label.addComment}}</a>
            </div>
          </div>
        {{/view}}
      {{/if}}

      {{#view App.CommentForm}}
        <div class="comment">
            <div class="edit">
                <div>
                  {{view App.CreateCommentField class="editarea"}}
                </div>
                <div>
                  {{view App.SubmitCommentButton class="btn btn-default btn-xs"}}
                    <a {{action cancelComment target="view"}}>{{t label.cancel}}</a>
                </div>
            </div>
        </div>
      {{/view}}

    </div>


  </div>
</div>
