<ul class="pager p-pagination-controls">
  {{#if prevPageVisible}}
    <li {{bind-attr class="prevPageDisabled"}}><a href="{{prevPageLink}}" {{action 'prevPage'}} class="p-pagination-newer">« Newer items</a></li>
  {{/if}}

  {{#if nextPageVisible}}
    <li {{bind-attr class="nextPageDisabled"}}><a href="{{nextPageLink}}" {{action 'nextPage'}} class="p-pagination-older">Older items »</a></li>
  {{/if}}
</ul>
