<div class="single-post-container">
  <div class="avatar">
    <img src="/img/64x64.png" />
  </div>

  <div class="post-body">
    <div class="title">
      {{#link-to 'timeline.index' model.createdBy.username}}{{model.createdBy.screenName}}{{/link-to}}
    </div>

    <div class="edit-post">
      <div>
        {{textarea value=controller.body class="editarea"}}
      </div>
      <div>
        <button {{action 'update'}} class="btn btn-default btn-xs">Post</button>
        <a href="#">Cancel</a>
      </div>
    </div>

    <div class="body">
      <div class="text">
        {{content.body}}
      </div>
    </div>
  </div>

  <div class="info">
    {{#link-to 'post' controller.session.currentUser.username content.id class="datetime"}}<time {{bind-attr datetime="model.createdAgo"}}>{{model.createdAgo}}</time>{{/link-to}}
  </div>

  <span class="links">
    (<a href="#">Edit</a>
    |
    <a {{action 'destroy'}}>Destroy</a>)
  </span>

  <div class="likes">
    <ul>
      {{#each user in content.likes}}
        <li>
          {{#link-to 'timeline.index' user.username}}{{user.screenName}}{{/link-to}}
        </li>
      {{/each}}
    </ul>

    <span><a {{action 'like'}}>Like</a></span>
    <span>(<a {{action 'unlike'}}>Un-like</a>)</span>
  </div>

  <div class="comments">
    {{#each comment in content.comments itemController="post-comment"}}
      {{view "post-comment" content=comment}}
    {{/each}}
  </div>

  <div class="comment">
    <div class="edit">
      <div>
        {{textarea value=controller.newComment class="editarea"}}
      </div>
      <div>
        <button {{action 'create'}} class="btn btn-default btn-xs">Post</button>
        Cancel
      </div>
    </div>
  </div>
</div>
