<div class="single-post-container">
  <div class="avatar">
    <img src="{{ model.createdBy.profilePictureLarge }}" />
  </div>

  <div class="post-body">
    <div class="title">
      {{view 'post-title' post=model}}
    </div>

    {{#if controller.isEdit}}
      <div class="edit-post">
        <div>
          {{view 'edit-post'}}
        </div>
        <div>
          <button {{action 'update'}} class="btn btn-default btn-xs p-post-post">Post</button>
          <a {{action 'toggleEditability'}} class="p-post-cancel">Cancel</a>
        </div>
      </div>
    {{else}}
      <div class="body">
        <div class="text p-post-text">
          {{prettifyText content.body}}
        </div>
      </div>
    {{/if}}

    {{#if content.attachments}}
      <div class="attachments p-post-attachments">
        {{#each attachment in content.attachments itemController="post-attachment"}}
          {{view "post-attachment" content=attachment}}
        {{/each}}
      </div>
    {{/if}}

    <div class="info">
      <span class="post-date">
        {{#link-to 'post' model.createdBy.username content.id (query-params offset=0) class="datetime"}}<time {{bind-attr datetime="model.createdAgo"}}>{{model.createdAgo}}</time>{{/link-to}}
      </span>

      <span class="post-controls">
        {{#if controller.session.signedIn}}
          <a {{action 'focusCommentForm' target=view}} class="p-post-comment">Comment</a>
        {{/if}}

        {{#if controller.session.signedIn}}
          -
          {{#if isLiked}}
            <span><a {{action 'unlike'}} class="p-post-unlike">Un-like</a></span>
          {{else}}
            <span><a {{action 'like'}} class="p-post-like">Like</a></span>
          {{/if}}
        {{/if}}

        {{#if view.isOwner}}
          -
          <a {{action 'toggleEditability'}} class="p-post-toggle-editability">Edit</a>
          -
          <a {{action 'destroy'}} class="p-post-destroy">Delete</a>
        {{/if}}
      </span>

      {{#if content.likes}}
        {{view 'post-likes' likes=content.likes}}
      {{/if}}
    </div>

    <div class="comments">
      {{#if isOmittedComments}}
        {{#each comment in firstComments itemController="post-comment"}}
          {{view "post-comment" content=comment}}
        {{/each}}
        <a {{action 'showAllComments'}}>{{model.omittedComments}} more comments</a>
        {{#each comment in lastComments itemController="post-comment"}}
          {{view "post-comment" content=comment}}
        {{/each}}
      {{else}}
        {{#each comment in model.comments itemController="post-comment"}}
          {{view "post-comment" content=comment}}
        {{/each}}
      {{/if}}
    </div>

    <div class="comment">
      <div class="edit">
        <div>
          {{view 'create-comment'}}
        </div>
        <div>
          <button {{action 'create'}} class="btn btn-default btn-xs p-post-post-comment">Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
