<div class="attachment">
  <a href="{{attachment.model.url}}" title="{{attachment.tooltip}}" class="p-attachment-url" target="_blank">
    {{#if attachment.model.thumbnailUrl}}
      <img class="p-attachment-thumbnail" src="{{attachment.model.thumbnailUrl}}" alt="{{attachment.tooltip}}" />
    {{else}}
      {{attachment.model.id}}
    {{/if}}
  </a>
</div>
