<div class="attachment">
  {{#if view.content.model.isImage}}
    <a href="{{view.content.model.url}}" title="{{view.content.nameAndSize}}" class="p-attachment-url" target="_blank">
      {{#if view.content.model.thumbnailUrl}}
        <img class="p-attachment-thumbnail" src="{{view.content.model.thumbnailUrl}}" alt="{{view.content.nameAndSize}}" />
      {{else}}
        {{view.content.model.id}}
      {{/if}}
    </a>
  {{/if}}

  {{#if view.content.model.isAudio}}
    <div class="audio-wrapper">
      <div class="inner">
        <audio preload="none" {{bind-attr id="view.content.model.id"}} {{bind-attr src="view.content.model.url"}}></audio>
      </div>
      {{view 'audio-player' playerId=view.content.model.id}}
      <div class="attachment-wrapper">
        <a href="{{view.content.model.url}}" title="{{view.content.nameAndSize}}" class="p-attachment-url" target="_blank">
          <i class="fa fa-file-audio-o"></i>
          <span>{{view.content.nameAndSize}}</span>
        </a>
      </div>
    </div>
  {{/if}}

  {{#if view.content.model.isGeneral}}
    <a href="{{view.content.model.url}}" title="{{view.content.nameAndSize}}" class="p-attachment-url" target="_blank">
      <i class="fa fa-file-o"></i>
      <span>{{view.content.nameAndSize}}</span>
    </a>
  {{/if}}
</div>
