<div class="likes">
  <i class="fa fa-heart icon"></i>

  {{#if controller.hasOmittedLikes}}
    <ul class="p-timeline-user-likes">
      {{#each controller.firstLikes as |user index|}}
        <li class="p-timeline-user-like">
          {{#link-to 'timeline.index' user.username (query-params offset=0)}}{{user.screenName}}{{/link-to}}<!--
          -->{{#unless (isLast index length=controller.firstLikes.length)}}, {{else}}
              <span>
                and
                  <a {{action 'showAllLikes'}}>{{controller.omittedLikes}} other people</a>
                liked this
              </span>
             {{/unless}}
        </li>
      {{/each}}
      {{#if controller.isLoadingLikes}}
        <span class="spinner"><img src="/img/throbber-16.gif" width="16" height="16" /></span>
      {{/if}}
    </ul>
  {{else}}
    <ul class="p-timeline-user-likes">
      {{#each controller.allLikes as |user index|}}
        <li class="p-timeline-user-like">
          {{#link-to 'timeline.index' user.username (query-params offset=0)}}{{user.screenName}}{{/link-to}}<!--
          -->{{#unless (isLast index length=view.likes.length)}}, {{else}}
              <span>liked this</span>
             {{/unless}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>
