<div {{bind-attr class=":single-post-container model.isDirects:direct-post"}}>
  <div class="avatar">
    <img src="{{ model.createdBy.profilePictureLarge }}" />
  </div>

  <div class="post-body">
    <div class="title">
      {{view 'post-title' post=model}}
    </div>

    {{#if controller.isEdit}}
      <div class="edit-post">
        <div>
          {{view 'edit-post'}}
        </div>
        <div>
          <button {{action 'update'}} class="btn btn-default btn-xs p-post-post">Post</button>
          <a {{action 'toggleEditability'}} class="p-post-cancel">Cancel</a>
        </div>
      </div>
    {{else}}
      <div class="body">
        <div class="text p-post-text">
          {{prettifyText content.body}}
        </div>
      </div>
    {{/if}}

    {{#if content.attachments}}
      <div {{bind-attr class=":attachments :p-post-attachments controller.hasSurplusAttachments:has-surplus controller.areAttachmentsExpanded:expanded"}}>
        {{~#each attachment in content.attachments itemController="post-attachment"~}}
          {{view "post-attachment" content=attachment}}
        {{~/each~}}

        <a class="toggle-surplus fa" {{action 'toggleSurplusAttachments'}}></a>
      </div>
    {{/if}}

    <div class="info">
      <span class="post-date">
        {{#link-to 'post' content.postedToFirstObject content.id (query-params offset=0) class="datetime"}}<time {{bind-attr datetime="model.createdAtISO" title="model.createdAtISO"}}>{{model.createdAgo}}</time>{{/link-to}}
      </span>

      <span class="post-controls">
        {{#if controller.session.signedIn}}
          -
          <a {{action 'focusCommentForm' target=view}} class="p-post-comment">Comment</a>
          -
          {{#if isLiked}}
            <span><a {{action 'unlike'}} class="p-post-unlike">Un-like</a></span>
          {{else}}
            <span><a {{action 'like'}} class="p-post-like">Like</a></span>
          {{/if}}

          {{#if view.isOwner}}
            -
            <a {{action 'toggleEditability'}} class="p-post-toggle-editability">Edit</a>
            -
            <a {{action 'destroy'}} class="p-post-destroy">Delete</a>
          {{/if}}
        {{/if}}
      </span>

      {{#if content.likes}}
        {{view 'post-likes' likes=content.likes}}
      {{/if}}
    </div>

    <div class="comments">
      {{#each comment in model.comments itemController="post-comment"}}
        {{view "post-comment" content=comment}}
      {{/each}}

      {{#if controller.session.signedIn}}
        <div class="comment p-timeline-comment">
          <a class="date">
            <i class="fa fa-comment-o icon"></i>
          </a>
          <div class="body">
            <div class="edit p-timeline-edit-comment">
              <div class="p-timeline-comment-create">
                {{view 'create-comment'}}
              </div>
              <div class="p-timeline-comment-actions">
                <button {{action 'create'}} class="btn btn-default btn-xs p-timeline-comment-post">Comment</button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
