<div class="attachment">
  <a href="{{view.content.model.url}}" title="{{view.content.tooltip}}" class="p-attachment-url" target="_blank">
    {{#if view.content.model.thumbnailUrl}}
      <img class="p-attachment-thumbnail" src="{{view.content.model.thumbnailUrl}}" alt="{{view.content.tooltip}}" />
    {{else}}
      {{view.content.model.id}}
    {{/if}}
  </a>
</div>
