{{content.body}}

<br/>
Comments:
<br/>
<ul>
  {{#each comment in comments itemController="post-comment"}}
    {{view "post-comment" content=comment}}
  {{/each}}
</ul>


<br/>
Likes:
<br/>
<ul>
{{#each user in content.likes}}
  {{user.screenName}}<br/>
{{/each}}
</ul>


<br/>

{{textarea value=newComment}}
<button {{action 'create'}}>Post</button>
<a {{action 'like'}}>Like</a>
<a {{action 'unlike'}}>Un-like</a>

<hr/>