<div class="likes">
  <i class="fa fa-heart icon"></i>

  {{#if view.isHidden}}
    <ul class="p-timeline-user-likes">
      {{#each user in view.shownLikes}}
        <li class="p-timeline-user-like">
          {{#link-to 'timeline.index' user.username (query-params offset=0)}}{{user.screenName}}{{/link-to}}<i>,</i>
        </li>
      {{/each}}
      <li>
        <span>
          and
          <a {{action 'toggleHidden' target=view}}>{{view.hiddenLikes.length}} other people</a>
          liked this
        </span>
      </li>
    </ul>

  {{else}}
    <ul class="p-timeline-user-likes">
      {{#each user in view.likes}}
        <li class="p-timeline-user-like">
          {{#link-to 'timeline.index' user.username (query-params offset=0)}}{{user.screenName}}{{/link-to}}<i>,</i>
        </li>
      {{/each}}
      <li>
        <span>
          liked this
        </span>
      </li>
    </ul>
  {{/if}}
</div>
