<div class="comment p-comment" id="comment-{{comment.model.id}}">
  <a class="date" title="{{comment.createdAgo}}">
    <time datetime="{{comment.createdAtISO}}"></time>
    <i class="fa fa-comment-o icon"></i>
  </a>

  <div class="body p-comment-body">
    {{#if controller.isEdit}}
      <div class="edit">
        <div>
          {{view 'edit-comment'}}
        </div>
        <div class="p-comment-actions">
          <button {{action 'update'}} class="p-comment-post">Post</button>
          <a {{action 'toggleEditability' target=controller}} class="p-comment-cancel">Cancel</a>
        </div>
      </div>
    {{else}}
      <span class="comment-text">
        {{prettifyText comment.model.body}}
      </span>
      -
      <span class="author">
        {{#link-to 'timeline.index' comment.model.createdBy.username (query-params offset=0)}}{{comment.model.createdBy.screenNameOrYou}}{{/link-to}}
      </span>

      <span class="controls">
        {{#if view.isOwner}}
          (<a {{action 'toggleEditability' target=controller}} class="p-comment-edit">edit</a>
          |
          <a {{action 'destroy'}} class="p-comment-delete">delete</a>)
        {{/if}}
      </span>
    {{/if}}
  </div>
</div>
