{{#if view.post.anyFeeds}}
  {{#if view.post.groupsOnly}}
    {{#unless view.isFeedPage}}
      {{#each view.post.publicSubscriptions as |feed index|}}
        <span class="post-addressee">{{#link-to 'timeline.index' feed.user.username}}{{feed.user.inTitleName}}{{/link-to}}</span><!--
        -->{{#unless (isLast index length=view.post.publicSubscriptions.length)}},{{/unless}}{{/each}}:
    {{/unless}}
    <span class="post-author">
      {{#link-to 'timeline.index' view.post.createdBy.username (query-params offset=0)}}{{view.post.createdBy.screenNameOrYou}}{{/link-to}}
    </span>
  {{else}}
    <span class="post-author">
      {{#link-to 'timeline.index' view.post.createdBy.username (query-params offset=0)}}{{view.post.createdBy.screenNameOrYou}}{{/link-to}}
    </span>
    {{#unless view.isFeedPage}}
      to
      {{#each view.post.publicSubscriptions as |feed index|}}
        {{#if feed.isDirect}}
          <span class="post-addressee post-addressee-direct">{{#link-to 'timeline.index' feed.user.username}}{{feed.user.screenName}}{{/link-to}}</span><!--
          -->{{#unless (isLast index length=view.post.publicSubscriptions.length)}},{{/unless}}
        {{else}}
          <span class="post-addressee">{{#link-to 'timeline.index' feed.user.username}}{{feed.user.inTitleName}}{{/link-to}}</span><!--
          -->{{#unless (isLast index length=view.post.publicSubscriptions.length)}},{{/unless}}
        {{/if}}
      {{/each}}
    {{/unless}}
  {{/if}}
{{else}}
  <span class="post-author">
    {{#link-to 'timeline.index' view.post.createdBy.username (query-params offset=0)}}{{view.post.createdBy.screenNameOrYou}}{{/link-to}}
  </span>
{{/if}}
