<div class="attachment">
  <a href="{{controller.originalUrlPrefix}}{{attachment.model.id}}" title="{{attachment.model.filename}}">
    {{#if attachment.model.isImage}}
      <img src="{{controller.previewUrlPrefix}}{{attachment.model.id}}" alt="{{attachment.model.filename}}" />
    {{else}}
      {{attachment.model.filename}}
    {{/if}}
  </a>
</div>
