<div class="comment">
  <a class="date" {{bind-attr title="comment.model.createdAgo"}}>
      <i class="fa fa-comment-o icon"></i>
  </a>

  <div class="body">
    {{#if view.isEdit}}
      <div class="edit">
        <div>
          {{view 'edit-comment'}}
        </div>
        <div>
          <button {{action 'update'}}>Post</button>
          <a {{action 'toggleEditability' target=view}}>Cancel</a>
        </div>
      </div>
    {{else}}
      <span class="comment-text">
        {{comment.model.body}}
      </span>
      -
      <span class="author">
        {{#link-to 'timeline.index' comment.model.createdBy.username}}{{comment.model.createdBy.screenName}}{{/link-to}}
      </span>

      <span class="controls">
        {{#if view.isOwner}}
          (<a {{action 'toggleEditability' target=view}}>edit</a>
          |
          <a {{action 'destroy'}}>delete</a>)
        {{/if}}
      </span>
    {{/if}}
  </div>
</div>
