<div class="profile">
  <div class="row">
    <div class="col-md-10">
      <div class="avatar">
        <img src="/img/64x64.png">
      </div>

      <a href="#">Settings</a>

      <div class="description">
        <div class="name">{{content.user.screenName}}</div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="stats">
        {{#if content.user.statistics.subscriptions}}
          <div>
            {{#link-to 'timeline.subscriptions' content.user.username}}{{content.user.statistics.subscriptions}} subscriptions{{/link-to}}
          </div>
        {{/if}}
        {{#if content.user.statistics.subscribers}}
          <div>
            {{#link-to 'timeline.subscribers' content.user.username}}{{content.user.statistics.subscribers}} subscribers{{/link-to}}
          </div>
        {{/if}}
        {{#if content.user.statistics.comments}}
          <div>
            {{#link-to 'timeline.comments' content.user.username}}{{content.user.statistics.comments}} comments{{/link-to}}
          </div>
        {{/if}}
        {{#if content.user.statistics.likes}}
          <div>
            {{#link-to 'timeline.likes' content.user.username}}{{content.user.statistics.likes}} likes{{/link-to}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="subscribe-controls">
    <div class="row">
        <div class="col-md-10">
            <a {{action 'unsubscribe'}}>Unsubscribe</a> <a {{action 'subscribe'}}>Subscribe</a>
        </div>
    </div>
</div>


