<div class="profile p-user-profile" data-username="{{content.user.username}}">
  <div class="row">
    <div class="col-md-9">
      <div class="avatar">
        <img src="{{content.user.profilePictureLarge}}" >
      </div>

      <div class="description">
        <div class="name">{{content.user.screenName}}</div>
        {{#if content.user.isGroup}}
          {{#if controller.isAdmin}}
            {{#link-to 'settings.feed' content.user.username}}Settings{{/link-to}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    {{#unless isBanned}}
      {{#unless content.user.isPrivateUserAndNotSubscribed}}
        <div class="col-md-3">
          <div class="stats">
            {{#if content.user.hasSubscriptions}}
              <div class="p-stats-subscriptions">
                {{#link-to 'timeline.subscriptions' content.user.username}}{{content.user.statistics.subscriptions}} subscriptions{{/link-to}}
              </div>
            {{/if}}
            {{#if content.user.hasSubscribers}}
              <div class="p-stats-subscribers">
                {{#link-to 'timeline.subscribers' content.user.username}}{{content.user.statistics.subscribers}} subscribers{{/link-to}}
              </div>
            {{/if}}
            {{#if content.user.hasComments}}
              <div class="p-stats-comments">
                {{#link-to 'timeline.comments' content.user.username (query-params offset=0)}}{{content.user.statistics.comments}} comments{{/link-to}}
              </div>
            {{/if}}
            {{#if content.user.hasLikes}}
              <div class="p-stats-likes">
                {{#link-to 'timeline.likes' content.user.username (query-params offset=0)}}{{content.user.statistics.likes}} likes{{/link-to}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/unless}}
    {{/unless}}
  </div>
</div>

{{#if controller.session.currentUser}}
  {{#unless view.isOwner}}
    {{#unless isBanned}}
      <div class="profile-controls">
        <div class="row">
          <div class="col-md-7 subscribe-controls">
            {{#if content.user.hasSentRequest}}
              You have already sent subscription request.
            {{else}}
              {{#if content.user.isPrivateUserAndNotSubscribed}}
                {{#if controller.model.user.isPrivateUserAndSentRequest}}
                  <p>You have already sent subscription request.</p>
                {{else}}
                  <a {{action 'sendRequest'}}>Request subscription</a>
                {{/if}}
              {{else}}
                {{#if isSubscribed}}
                  <a {{action 'unsubscribe'}} class="p-subscribe">Unsubscribe</a>
                {{else}}
                  <a {{action 'subscribe'}} class="p-unsubscribe">Subscribe</a>
                {{/if}}
              {{/if}}
            {{/if}}
          </div>
          {{#unless isSubscribed}}
            {{#if view.isTimelineIndex}}
              <div class="col-md-5 block-controls">
                <a {{action 'ban'}}>Block this user</a>
              </div>
            {{/if}}
          {{/unless}}
        </div>
      </div>
    {{/unless}}
  {{/unless}}
{{/if}}
