<div class="profile p-user-profile">
  <div class="row">
    <div class="col-md-9">
      <div class="avatar">
        <img src="/img/64x64.png">
      </div>

      <div class="description">
        <div class="name">{{content.user.screenName}}</div>
        {{#if content.user.isGroup}}
          {{#link-to 'settings.feed' content.user.username}}Settings{{/link-to}}
        {{else}}
          {{#if view.isOwner}}
            {{#link-to 'settings.index'}}Settings{{/link-to}}
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="col-md-3">
      <div class="stats">
        {{#if content.user.statistics.subscriptions}}
          <div class="p-stats-subscriptions">
            {{#link-to 'timeline.subscriptions' content.user.username}}{{content.user.statistics.subscriptions}} subscriptions{{/link-to}}
          </div>
        {{/if}}
        {{#if content.user.statistics.subscribers}}
          <div class="p-stats-subscribers">
            {{#link-to 'timeline.subscribers' content.user.username}}{{content.user.statistics.subscribers}} subscribers{{/link-to}}
          </div>
        {{/if}}
        {{#if content.user.statistics.comments}}
          <div class="p-stats-comments">
            {{#link-to 'timeline.comments' content.user.username}}{{content.user.statistics.comments}} comments{{/link-to}}
          </div>
        {{/if}}
        {{#if content.user.statistics.likes}}
          <div class="p-stats-likes">
            {{#link-to 'timeline.likes' content.user.username}}{{content.user.statistics.likes}} likes{{/link-to}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{#unless view.isOwner}}
  <div class="subscribe-controls">
    <div class="row">
      <div class="col-md-10">
        {{#if isSubscribed}}
          <a {{action 'unsubscribe'}} class="p-subscribe">Unsubscribe</a>
        {{else}}
          <a {{action 'subscribe'}} class="p-unsubscribe">Subscribe</a>
        {{/if}}
      </div>
    </div>
  </div>
{{/unless}}

