New password: {{input name="newPassword" type="password" value=newPassword}}
<br/>
Password confirmation: {{input name="passwordConfirmation" type="password" value=passwordConfirmation}}
<br/>
<button {{action 'resetPassword'}}>Save my password</button>

{{#if message}}
  <div class="alert alert-info" role="alert">
    <span id="error-message">{{message}}</span>
  </div>
{{/if}}

{{#if errors}}
  <div class="alert alert-danger" role="alert">
    <span id="error-message">{{errors}}</span>
  </div>
{{/if}}
