To:

<select id="sendToSelect" multiple="multiple" class="p-sendto-select">
  {{#if view.showMyFeedOption}}
    <option selected="selected" value="{{controller.session.currentUser.username}}" class="p-sendto-selected">My feed</option>
  {{else}}
    <option value="{{controller.session.currentUser.username}}" class="p-sendto-option">My feed</option>
  {{/if}}
  {{#each feed in controller.session.currentUser.feeds}}
    <option value="{{feed.user.username}}" class="p-sendto-option">{{feed.user.screenName}}</option>
  {{/each}}
</select>

{{#if view.showToggler}}
  <span class="send-to">
    <a {{action 'toggleEditability' target=view}} class="p-sendto-toggler">Add/Edit</a>
  </span>
{{/if}}
