<div class="form-group p-update-settings-form">
  <label for="screenName">Screen name:</label>
  {{input id="screenName" name="screenName" value=screenName class="form-control"}}
</div>

<p>
  <button {{action 'update'}} class="btn btn-default p-update-settings-action">Update</button>
</p>

{{#if message}}
  <div class="alert alert-info p-settings-alert" role="alert">
    <span id="error-message">{{message}}</span>
  </div>
{{/if}}

{{#if errors}}
  <div class="alert alert-danger p-settings-message" role="alert">
    <span id="error-message">{{errors}}</span>
  </div>
{{/if}}

<h2 class="p-settings-updateprofilepicture-header">Update Profile Picture</h2>

<div class="form-group">
  {{view 'update-profile-picture'}}
</div>

<p>
  <button {{action 'updateProfilePicture'}} class="btn btn-default p-settings-updateprofilepicture">Update</button>
</p>

{{#if profilePicErrors}}
    <div class="alert alert-danger p-settings-message" role="alert">
        <span id="error-message">{{profilePicErrors}}</span>
    </div>
{{/if}}
