<h1>Settings</h1>

<div class="form-group">
  <label for="screenName">Screen name:</label>
  {{input name="screenName" value=screenName class="form-control" id="screenName"}}
</div>

<div class="form-group">
  <label for="email">Email:</label>
  {{input name="email" id="email" value=content.email class="form-control"}}
</div>

<div class="checkbox">
  <label>
    {{input type="checkbox" name="isPrivate" checked=content.isPrivate }}
    Private
  </label>
</div>

<button {{action 'update'}} class="btn btn-default">Update</button>

<hr/>

<h2>Change password</h2>

<div class="form-group">
  <label for="currentPassword">Current password:</label>
  {{input name="currentPassword" id="currentPassword" type="password" value=currentPassword class="form-control"}}
</div>

<div class="form-group">
  <label for="password">New password:</label>
  {{input name="password" id="password" type="password" value=password class="form-control"}}
</div>

<div class="form-group">
  <label for="passwordConfirmation">Confirm password:</label>
  {{input name="passwordConfirmation" id="passwordConfirmation" type="password" value=passwordConfirmation class="form-control"}}
</div>

<button {{action 'updatePassword'}} class="btn btn-default">Update Password</button>

{{#if message}}
  <div class="alert alert-info" role="alert">
    <span id="error-message">{{message}}</span>
  </div>
{{/if}}

{{#if errors}}
  <div class="alert alert-danger" role="alert">
    <span id="error-message">{{errors}}</span>
  </div>
{{/if}}
