<h1>Settings</h1>

<div class="form-group">
  <label>Screen name:</label>
  {{input name="screenName" value=screenName class="form-control"}}
</div>

<div class="form-group">
  <label>Email:</label>
  {{input name="email" value=content.email class="form-control"}}
</div>

<div class="checkbox">
  <label>
    {{input type="checkbox" name="isPrivate" checked=content.isPrivate }}
    Private
  </label>
</div>

<button {{action 'update'}} class="btn btn-default">Update</button>

<hr/>

<h2>Change password</h2>

<div class="form-group">
  <label>Current password:</label>
  {{input name="currentPassword" type="password" value=currentPassword class="form-control"}}
</div>

<div class="form-group">
  <label>New password:</label>
  {{input name="password" type="password" value=password class="form-control"}}
</div>

<div class="form-group">
  <label>Confirm password:</label>
  {{input name="passwordConfirmation" type="password" value=passwordConfirmation class="form-control"}}
</div>

<button {{action 'updatePassword'}} class="btn btn-default">Update Password</button>
