<div class="col-md-3">
  <h2>{{t header.signUp}}</h2>

  <form action="/signup" method="post">
    <div class="form-group">
      <label for="username">{{t label.username}}</label>
        {{view Ember.TextField classNames="form-control" valueBinding="username" type="text" id="username" name="username"}}
    </div>

    <div class="form-group">
      <label class="control-label" for="password">{{t label.password}}</label>
        {{view Ember.TextField classNames="form-control" valueBinding="password" type="password" id="password" name="password"}}
    </div>

    <div class="form-group">
        <button {{action signup}} class="btn btn-primary">{{t button.signUp}}</button>
    </div>
  </form>
</div>
