{{#if controller.session.signedIn}}
  <div class="create-post p-timeline-post-create">
    {{#if view.sendToVisible}}
      <div class="send-to">
        {{view 'send-to'}}
      </div>
    {{/if}}

    <div class="p-create-post-view">
      {{view 'create-post'}}
    </div>

    <div class="row">
      <div class="col-md-10">
        {{#if controller.attachments}}
          <div class="attachments">
            {{#each attachment in controller.attachments itemController="post-attachment"}}
              {{view "post-attachment" content=attachment}}
            {{/each}}
          </div>
        {{/if}}

        {{view 'create-attachment'}}
      </div>
      <div class="col-md-2">
        <div class="pull-right">
          <button {{action 'create'}} class="btn btn-default btn-xs p-create-post-action">Post</button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
