{{#if controller.session.currentUser}}
  <div class="create-post p-timeline-post-create">
    {{#if view.sendToVisible}}
      <div class="send-to">
        {{view 'send-to' showMyFeedOption=view.showMyFeedOption}}
      </div>
    {{/if}}

    <div class="p-create-post-view">
      {{view 'create-post'}}
    </div>

    <div class="row">
      <div class="col-md-10">
        {{#if isAttachmentsVisible}}
          {{#if controller.attachments}}
            <div class="attachments">
              {{#each controller.attachments itemController="post-attachment" as |attachment|}}
                {{view "post-attachment" content=attachment}}
              {{/each}}
            </div>
          {{/if}}

          {{view 'create-attachment'}}
        {{else}}
          Add: <a {{action 'showAttachments'}}>Photos or Files</a>
        {{/if}}
      </div>
      <div class="col-md-2">
        <div class="pull-right">
          {{#if controller.isSending}}
            <span class="throbber"><img src="/img/throbber-16.gif" width="16" height="16" /></span>
          {{/if}}
          <button {{action 'create'}} class="btn btn-default btn-xs p-create-post-action" disabled="{{view.isDisabled}}">Post</button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
