{{#if controller.session.signedIn}}
  <div class="create-post p-timeline-post-create">
    {{#if view.sendToVisible}}
      <div class="send-to">
        {{view 'send-to' showMyFeedOption=view.showMyFeedOption}}
      </div>
    {{/if}}

    <div class="p-create-post-view">
      {{view 'create-post'}}
    </div>

    <div class="row">
      <div class="col-md-10">
        {{#if controller.attachments}}
          <div class="attachments">
            <div class="image-attachments">
              {{~#each attachment in controller.attachments itemController="post-attachment"~}}
                {{#if attachment.model.isImage}}
                  {{view "post-attachment" content=attachment}}
                {{/if}}
              {{~/each~}}
            </div>

            <div class="audio-attachments">
              {{~#each attachment in controller.attachments itemController="post-attachment"~}}
                {{#if attachment.model.isAudio}}
                  {{view "post-attachment" content=attachment}}
                {{/if}}
              {{~/each~}}
            </div>

            <div class="general-attachments">
              {{~#each attachment in controller.attachments itemController="post-attachment"~}}
                {{#if attachment.model.isGeneral}}
                  {{view "post-attachment" content=attachment}}
                {{/if}}
              {{~/each~}}
            </div>

            <div class="uploading-attachments">
              {{~#each attachment in controller.attachments itemController="post-attachment"~}}
                {{#if attachment.model.isUploading}}
                  {{view "post-attachment" content=attachment}}
                {{/if}}
              {{~/each~}}
            </div>
          </div>
        {{/if}}

        {{#if controller.uploadErrors}}
          <div class="upload-errors">
            <div class="clear-upload-errors fa fa-times" title="Clear errors" {{action 'clearUploadErrors'}}></div>

            {{#each error in controller.uploadErrors}}
              <div class="upload-error">
                {{error.message}}
                <div class="file-name">{{error.fileName}}</div>
              </div>
            {{/each}}
          </div>
        {{/if}}

        {{view 'create-attachment'}}
      </div>
      <div class="col-md-2">
        <div class="pull-right">
          {{#if controller.isSending}}
            <span class="throbber"><img src="/img/throbber-16.gif" width="16" height="16" /></span>
          {{/if}}
          <button {{action 'create'}} class="btn btn-default btn-xs p-create-post-action" {{bind-attr disabled="view.isDisabled"}}>Post</button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
