<div class="timeline-post-container">
  <div class="avatar">
    {{#link-to 'timeline.index' post.model.createdBy.username (query-params offset=0)}}<img src="{{ post.model.createdBy.profilePictureMedium }}" />{{/link-to}}
  </div>

  <div class="post-body p-timeline-post">
    <div class="title">
      {{view 'post-title' post=post.model}}
    </div>

    {{#if controller.isEdit}}
      <div class="edit-post">
        <div>
          {{view 'edit-post'}}
        </div>
        <div>
          <button {{action 'update'}} class="btn btn-default btn-xs">Post</button>
          <a {{action 'toggleEditability'}}>Cancel</a>
        </div>
      </div>
    {{else}}
      <div class="body">
        <div class="text">
          {{prettifyText post.content.body}}
        </div>
      </div>
    {{/if}}

    {{#if post.content.attachments}}
      <div class="attachments">
        {{#each attachment in post.content.attachments itemController="post-attachment"}}
          {{view "post-attachment" content=attachment}}
        {{/each}}
      </div>
    {{/if}}

    <div class="info p-timeline-post-info">
      <span class="post-date">
        {{#link-to 'post' post.content.createdBy.username post.content.id (query-params offset=0) class="datetime"}}<time {{bind-attr datetime="post.model.createdAtISO"}}>{{post.model.createdAgo}}</time>{{/link-to}}
      </span>

      <span class="post-controls">
        {{#if controller.session.signedIn}}
          <a {{action 'toggleCommentForm'}} class="p-timeline-post-comment-action">Comment</a>
        {{/if}}

        {{#if controller.session.signedIn}}
          -
          {{#if controller.isLiked}}
            <span><a {{action 'unlike'}} class="p-timeline-post-unlike-action">Un-like</a></span>
          {{else}}
            <span><a {{action 'like'}} class="p-timeline-post-like-action">Like</a></span>
          {{/if}}
        {{/if}}

        {{#if view.parentView.parentView.isRiverOfNews}}
          -
          {{#if post.model.canHide}}
            <a {{action 'hide'}} class="p-timeline-post-hide-action">Hide</a>
          {{else}}
            <a {{action 'unhide'}} class="p-timeline-post-unhide-action">Un-hide</a>
          {{/if}}
        {{/if}}

        {{#if view.isOwner}}
          -
          <a {{action 'toggleEditability'}} class="p-timeline-post-edit-action">Edit</a>
          -
          <a {{action 'destroy'}} class="p-timeline-post-destroy-action">Delete</a>
        {{/if}}
      </span>

      {{#if post.content.likes}}
        {{view 'post-likes' likes=post.content.likes}}
      {{/if}}
    </div>

    <div class="comments">
      {{#if controller.hasOmittedComments}}
        {{#each comment in controller.firstComments itemController="post-comment"}}
          {{view "post-comment" content=comment}}
        {{/each}}
        <a class="more-comments" {{action 'showAllComments'}}>{{controller.omittedComments}} more comments</a>
        {{#if controller.isLoadingComments}}
          <span class="spinner"><img src="/img/throbber-16.gif" width="16" height="16" /></span>
        {{/if}}
        {{#each comment in controller.lastComments itemController="post-comment"}}
          {{view "post-comment" content=comment}}
        {{/each}}
      {{else}}
        {{#each comment in post.comments itemController="post-comment"}}
          {{view "post-comment" content=comment}}
        {{/each}}
      {{/if}}

      {{#if controller.isFormVisible}}
          <div class="comment p-timeline-comment">
              <a class="date">
                  <i class="fa fa-comment-o icon"></i>
              </a>
              <div class="body">
                  <div class="edit p-timeline-edit-comment">
                      <div class="p-timeline-comment-create">
                        {{view 'create-comment'}}
                      </div>
                      <div class="p-timeline-comment-actions">
                          <button {{action 'create'}} class="btn btn-default btn-xs p-timeline-comment-post">Post</button>
                          <a {{action 'toggleCommentForm'}} class="p-timeline-comment-cancel">Cancel</a>
                      </div>
                  </div>
              </div>
          </div>
      {{else}}
        {{#if post.comments.length}}
          {{#unless controller.hasOmittedComments}}
            {{#if controller.session.signedIn}}
              <div class="add-comment-block">
                <a class="fa-stack fa-1x" {{action 'toggleCommentForm'}}>
                  <i class="fa fa-comment-o fa-stack-1x"></i>
                  <i class="fa fa-square fa-inverse fa-stack-1x"></i>
                  <i class="fa fa-plus fa-stack-1x"></i>
                </a>
                <a class="add-comment-link" {{action 'toggleCommentForm'}}>Add comment</a>
              </div>
            {{/if}}
          {{/unless}}
        {{/if}}
      {{/if}}
    </div>


  </div>
</div>
