<div class="timeline-post-container">
  <div class="avatar">
    <img src="/img/48x48.png" />
  </div>

  <div class="post-body">
    <div class="title">
      {{#link-to 'timeline.index' post.model.createdBy.username}}{{post.model.createdBy.screenName}}{{/link-to}}
    </div>

    {{#if view.isEdit}}
      <div class="edit-post">
        <div>
          {{view 'edit-post'}}
        </div>
        <div>
          <button {{action 'update'}} class="btn btn-default btn-xs">Post</button>
          <a {{action 'toggleEditability' target=view}}>Cancel</a>
        </div>
      </div>
    {{else}}
      <div class="body">
        <div class="text">
          {{post.content.body}}
        </div>
      </div>
    {{/if}}
  </div>

  <div class="info">
    {{#link-to 'post' controller.session.currentUser.username post.content.id class="datetime"}}<time {{bind-attr datetime="post.model.createdAgo"}}>{{post.model.createdAgo}}</time>{{/link-to}}
  </div>

  <span class="links">
    (<a {{action 'toggleEditability' target=view}}>Edit</a>
    |
    <a {{action 'destroy'}}>Destroy</a>)
  </span>

  <div class="likes">
    <ul>
      {{#each user in post.content.likes}}
        <li>
          {{#link-to 'timeline.index' user.username}}{{user.screenName}}{{/link-to}}
        </li>
      {{/each}}
    </ul>

    <span><a {{action 'like'}}>Like</a></span>
    <span>(<a {{action 'unlike'}}>Un-like</a>)</span>
  </div>

  <div class="comments">
    {{#each comment in post.comments itemController="post-comment"}}
      {{view "post-comment" content=comment}}
    {{/each}}
  </div>

  <div class="comment">
    <div class="edit">
      <div>
        {{textarea value=post.newComment class="editarea"}}
      </div>
      <div>
        <button {{action 'create'}} class="btn btn-default btn-xs">Post</button>
        Cancel
      </div>
    </div>
  </div>
</div>
