{{#if controller.firstPage}}
  {{submit-post sendToVisible=true showMyFeedOption=true}}
{{/if}}

{{#unless controller.firstPage}}
  {{pagination-view}}
{{/unless}}
{{posts-view posts=model.posts}}

{{#if controller.hasHiddenPosts}}
  <div class="show-hidden">
    <a {{action "toggleShowHidden" target=view}}>Show {{hiddenPosts.length}} hidden entries</a>
    {{#if view.hiddenPostsShown}}
      {{hidden-posts}}
    {{/if}}
  </div>
{{/if}}

{{pagination-view}}
