{{breadcrumbs-view steps="Likes" user=model.user.username}}
{{profile-links}}

{{#if isBanned}}
  You have blocked {{model.user.screenName}}, so all of {{model.user.screenName}}'s posts and comments are invisible to you. <a {{action 'unban'}}>Un-block this user</a>
{{else}}
  {{#unless controller.firstPage}}
    {{pagination-view}}
  {{/unless}}
  {{posts-view posts=model.posts}}
  {{pagination-view}}
{{/if}}
