{{#if firstPage}}
  {{submit-post sendToVisible=true showMyFeedOption=true currentUser=session.currentUser}}
{{/if}}

{{#unless firstPage}}
  {{pagination-view}}
{{/unless}}
{{posts-view posts=model.posts}}

{{#if hasHiddenPosts}}
  <div class="show-hidden">
    <a {{action "toggleShowHidden" target=view}}>Show {{hiddenPosts.length}} hidden entries</a>
    {{#if hiddenPostsShown}}
      {{hidden-posts}}
    {{/if}}
  </div>
{{/if}}

{{pagination-view}}
