{{view "profile-links"}}

<a {{action 'subscribe'}}>Subscribe</a><br/>
<a {{action 'unsubscribe'}}>Unsubscribe</a><br/>

<hr/>

{{#if controller.session.signedIn}}
  <div class="clearfix submitForm">
    <div>
      {{textarea value=body}}
    </div>
    <div class="pull-left">
      Add:
    </div>
    <div class="pull-right">
      <button {{action 'create'}}>Post</button>
    </div>
  </div>
{{/if}}

<div class="posts">
  <ul class="media-list">
    {{#each post in posts itemController="timeline-post"}}
      {{view "timeline-post" content=post}}
    {{/each}}
  </ul>
</div>
