{{#if App.properties.userId}}
  <div class="submitForm">
      <div class="row">
        <div class="col-md-12">
          {{view App.SendToField viewName="sendTo"}}
        </div>
      </div>
    <div class="row sumbitText">
        <div class="col-md-12">
          {{view App.CreatePostField action="submitPost" target="controller"
                class="editarea"}}
        </div>
      </div>
    <div class="row submitControls">
        <div class="col-md-6">
          <div class="pull-left">
            {{t label.add.file}}{{view App.UploadFileView name="file"}}
          </div>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
              {{view App.SubmitPostButton action="submitPost" target="controller"
              class="btn btn-default btn-xs"}}
            </div>
        </div>
    </div>
  </div>

  <div id="progressBar" {{bind-attr class="controller.isProgressBarHidden"}}>
    {{view Bootstrap.ProgressBar isStriped=true isAnimated=true
        progressBinding="controller.progress"}}
  </div>
{{/if}}

{{view App.JustStarted}}

<div class="col-md-offset-6 spinner">
  <img src="/img/spinner.gif" width="32" height="32" />
</div>

<div class="posts">

    {{each controller.posts.arrangedContent itemViewClass="App.PartialPostView" itemController="post"}}


  {{view App.Pagination}}
</div>
