<div class="timeline-post-container">
  <div class="avatar">
    {{#link-to 'timeline.index' controller.session.currentUser.username (query-params offset=0)}}<img src="/img/48x48.png" />{{/link-to}}
  </div>

  <div class="post-body">
    <div class="title">
      {{#link-to 'timeline.index' post.model.createdBy.username}}{{post.model.createdBy.screenName}}{{/link-to}}
    </div>

    {{#if controller.isEdit}}
      <div class="edit-post">
        <div>
          {{view 'edit-post'}}
        </div>
        <div>
          <button {{action 'update'}} class="btn btn-default btn-xs">Post</button>
          <a {{action 'toggleEditability'}}>Cancel</a>
        </div>
      </div>
    {{else}}
      <div class="body">
        <div class="text">
          {{post.content.body}}
        </div>
      </div>
    {{/if}}

    {{#if post.content.attachments}}
      <div class="attachments">
        {{#each attachment in post.content.attachments itemController="post-attachment"}}
          {{view "post-attachment" content=attachment}}
        {{/each}}
      </div>
    {{/if}}

    <div class="info">
      <span class="post-date">
        {{#link-to 'post' post.content.createdBy.username post.content.id class="datetime"}}<time {{bind-attr datetime="post.model.createdAgo"}}>{{post.model.createdAgo}}</time>{{/link-to}}
      </span>

      <span class="post-controls">
        {{#if controller.session.signedIn}}
          <a {{action 'toggleCommentForm' target=view}}>Comment</a>
        {{/if}}

        {{#if view.parentView.parentView.isRiverOfNews}}
          -
          {{#if post.model.canHide}}
            <a {{action 'hide'}}>Hide</a>
          {{else}}
            <a {{action 'unhide'}}>Un-hide</a>
          {{/if}}
        {{/if}}

        {{#if view.isOwner}}
          (<a {{action 'toggleEditability'}}>Edit</a>
          |
          <a {{action 'destroy'}}>Destroy</a>)
        {{/if}}
        {{#if controller.session.signedIn}}
            <span><a {{action 'like'}}>Like</a></span>
          <span>(<a {{action 'unlike'}}>Un-like</a>)</span>
        {{/if}}
      </span>

      {{#if post.content.likes}}
        <div class="likes">
          <i class="fa fa-smile-o icon"></i>
          <ul>
            {{#each user in post.content.likes}}
              <li>
                {{#link-to 'timeline.index' user.username}}{{user.screenName}}{{/link-to}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>

    <div class="comments">
      {{#each comment in post.comments itemController="post-comment"}}
        {{view "post-comment" content=comment}}
      {{/each}}

      {{#if view.isFormVisible}}
          <div class="comment">
              <a class="date">
                  <i class="fa fa-comment-o icon"></i>
              </a>
              <div class="body">
                  <div class="edit">
                      <div>
                        {{view 'create-comment'}}
                      </div>
                      <div>
                          <button {{action 'create'}} class="btn btn-default btn-xs">Post</button>
                          <a {{action 'toggleCommentForm' target=view}}>Cancel</a>
                      </div>
                  </div>
              </div>
          </div>
      {{/if}}
    </div>


  </div>
</div>
