{{view "breadcrumbs" steps="Subscribers" user=content.query}}

<h3 class="p-user-subscribers">Subscribers</h3>
<ul class="tile-list">
  {{#each user in model}}
    <li class="p-user-subscriber">
      {{#link-to 'timeline.index' user.username (query-params offset=0)}}
        <div class="avatar">
          <img src="{{ user.profilePictureMedium }}" />
        </div>

        {{user.screenNameOrYou}}
      {{/link-to}}

      {{#if controller.isEdit}}
        {{#if view.isOwner}}
          <a {{action 'removeSubscriber' user}}>Remove</a>
        {{/if}}
      {{/if}}
    </li>
  {{/each}}
</ul>

{{#if view.isOwner}}
  {{#if controller.isEdit}}
    <a {{action 'browse'}}>Browse subscribers</a>
  {{else}}
    <a {{action 'manage'}}>Manage subscribers</a>
  {{/if}}
{{/if}}
