{{#if controller.firstPage}}
  {{view "submit-post" sendToVisible="true"}}
{{/if}}

{{#unless controller.firstPage}}
  {{view "pagination"}}
{{/unless}}
{{view "posts"}}

{{#if controller.hasHiddenPosts}}
  <div class="show-hidden">
    <a {{action "toggleShowHidden" target=view}}>Show {{hiddenPosts.length}} hidden entries</a>
  {{#if view.hiddenPostsShown}}
    {{view "hidden-posts"}}
  {{/if}}
  </div>
{{/if}}

{{view "pagination"}}
