<div class="profile">
  <div class="row">
    <div class="col-md-10">
      <div class="avatar">
        <img src="/img/64x64.png">
      </div>

    {{#if view.isGroupAdmin}}
      {{#link-to 'settings' user.id}}{{t label.settings}}{{/link-to}}
    {{/if}}

      <div class="description">
        <div class="name">{{content.user.info.screenName}}</div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="stats">
        {{#if view.subscriptionsLength}}
          <div>{{#link-to 'feedSubscriptions' controller.user.username}}{{content.user.statistics.subscriptions}} {{t label.subscriptions}}{{/link-to}}</div>
        {{/if}}

        {{#if view.subscribersLength}}
          <div>{{#link-to 'feedSubscribers' controller.user.username}}{{content.user.statistics.subscribers}} {{t label.subscribers}}{{/link-to}}</div>
        {{/if}}

        {{#if view.postsLength}}
          <div>{{#link-to 'user' controller.user.username}}{{content.user.statistics.posts}} {{t label.posts}}{{/link-to}}</div>
        {{/if}}

        {{#if view.likesLength}}
          <div>{{#link-to 'likes' controller.user.username}}{{content.user.statistics.likes}} {{t label.likes}}{{/link-to}}</div>
        {{/if}}

        {{#if view.commentsLength}}
          <div>{{#link-to 'comments' controller.user.username}}{{content.user.statistics.comments}} {{t label.comments}}{{/link-to}}</div>
        {{/if}}
      </div>
	</div>
  </div>

</div>

{{#unless view.ownProfile}}
<div class="subscribe_controls">
	<div class="row">
		<div class="col-md-10">
          {{#if App.properties.userId}}
            {{#if view.subscribedTo}}
				<a {{action unsubscribeTo}}>{{t label.unsubscribe}}</a>
            {{/if}}
          {{/if}}
          {{#unless view.subscribedTo}}
			  <a {{action subscribeTo}}>{{t label.subscribe}}</a>
          {{/unless}}
		</div>
	</div>
</div>
{{/unless}}

{{#if view.showPostCreationForm}}
  <div class="create_post">
      <div>
        {{view App.CreatePostField action="submitPost" target="controller"
              class="editarea"}}
      </div>
	  <div class="row">
        <div class="col-md-10">
        {{t label.add.file}}{{view App.UploadFileView name="file"}}
        </div>
        <div class="col-md-2">
          {{view App.SubmitPostButton action="submitPost" target="controller"
                class="btn btn-default btn-sm pull-right"}}
        </div>
      </div>
    </div>

    <div id="progressBar" {{bind-attr class="controller.isProgressBarHidden"}}>
      {{view Bootstrap.ProgressBar isStriped=true isAnimated=true
          progressBinding="controller.progress"}}
    </div>
  </div>
{{/if}}

<div class="posts">

    {{each controller.posts.arrangedContent itemViewClass="App.PartialPostView" itemController="post"}}

    {{view App.Pagination}}

</div>
